@use './src/styles/variables';

:host {
  align-self: center;
  margin-top: variables.$size-21;
}

.circle {
  width: variables.$loading-size;
  height: variables.$loading-size;
  line-height: variables.$loading-size;
  border-radius: 50%;
  font-size: variables.$size-16;
  color: variables.$dark-grey;
  text-align: center;
  background: variables.$white;
  border: variables.$border-width-xs solid variables.$dark-grey;
}
