// Colors
$black: #000;
$concrete-gray: #f3f2f2;
$grayish-red: #c4bfbf;
$white: #fff;
$pale-red: #ffc0cb;
$dark-grey: #808080;

// Border-width
$border-width-xs: 1px;

// Border-radius
$border-radius-l: 40px;

// Space
$space-xs: 8px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 30px;

// Font sizes
$size-27: 1.6875rem;
$size-24: 1.5rem;
$size-21: 1.3125rem;
$size-18: 1.125rem;
$size-16: 1rem;

// Width
$buttons-width: 150px;

//Sizes
$loading-size: 100px;
