// Colors
$black: #000;
$concrete-gray: #f3f2f2;
$grayish-red: #c4bfbf;
$white: #fff;
// Border-width
$border-width-xs: 1px;
$border-width-l: 30px;

// Border-radius
$border-radius-l: 40px;

// Padding
$padding-default: 15px 0;

// Font-size
$size-18: 1.125rem;
$size-16: 1rem;
