@use '../styles/variables';

:host {
  display: block;
  height: 100%;
  padding: variables.$space-xs;
}

.container {
  height: 100%;
  padding: variables.$space-xl;
  background-color: variables.$grayish-red;
  border-radius: variables.$border-radius-l;
}
